__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
instance/
.pytest_cache/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
